.footer {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: rgb(24 20 19) ;;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.918);
    margin-bottom: 0;
}

.footer div#img{
    padding-top: 10px;
}
.footer div.comInfo #endBarList li {
    list-style: none;
    display: inline-block;
    padding:20px 8px ;
    margin: 0;
    text-decoration : none;
    display: inline-block; 
}

/* .footer div.endBar li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    bottom: -100px;
    font-size: 11px;

} */

.footer div.comInfo p{
    color: #aba9a8;
    position: relative;
    /* bottom: -100px; */
    font-size: 13px;
    line-height:10px; 
}

.footer .wrapper{
    /* position: absolute; */
    /* width: 100%; */
    /* bottom: 0px; */
    /* height: 60%; */
    /* background: #0e0c0b; */
    /* border: 10px solid sienna; */
    /* bottom: -130px; */
    /* bottom: 0px;  여기까지가 기존 부분*/

    position: inherit; /*여기는 맥심 style코드 긁은 부분입니다 */
    width: 100%;
    color: #fff;
    background: #0e0c0b;
    text-align: center;
    clear: both;
    margin-top: 60px;
    display: inline-block;
    bottom: 0;
}


.footer div.comInfo p{
    line-height:20px; 
}
.footer div.comInfo p span#fontHeight{
    line-height:60px; 
}


/* -------------main2-------------- */

.main2{
    background-color: rgb(24 20 19) ;
    text-align: center;
}

.mainWrapper{
    position: relative;
}

.intro h1{
    /* font-size: 24px; */
    color: #fff;
    width: 100%;
    margin-top: 40px;
    font-weight:500;

}

.intro_content p{
    font-size: 15px;
    font-weight: 200;
    line-height: 32px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 35px;
}

.box-wrapper {
    bottom: 0;
    width: 100%;
    height: 340px;
} 

.box{
    width: 310px;
    height: 310px;
    line-height: 310px;
    color: #fff;
    font-size: 2em;
    border: 1px solid red;
    display: inline-block; 
    margin:0px 20px;
    text-align: center;
    margin-bottom: 0px;
}

#b1{
   background-color: red;

}
#b2{
    background-color: green;
 }
 #b3{
    background-color: burlywood;
 }
