a {
    text-decoration: none;
    color: white;
    cursor:pointer;
  }
  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
.header {
    float: left;
    display: fixed;
    width: 100%;
    height: 80px;
    position: relative;
    min-width: 800px;
    background-color: #2e2925;
    opacity: 0.97;
    margin: 0;
    z-index: 10;/*맨 앞 정렬*/
}

.header div.menubar {
    width: 800px;
    height: 100%;
    margin:0 auto;
    position: absolute;
    left: 0;
    right: 0;
}
.header .menubar ul.nav:after {
    content: "";
    display: block;
    clear: both;
}

div.menubar ul.nav{
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100px;
    padding: 0px;
    margin: 0px;
}

div.menubar ul.nav li {
    float: left;
    padding: 0 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 80px;
}

div.menubar ul.nav li a{
    position: relative;
}
div.menubar ul.nav li a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 105%;
    height: 2px;
    background: red;
    transform: scaleX(0);
    transition: 0.3s all ease-out;
}
div.menubar ul.nav li:hover>a::after{
    transform: scaleX(1);
}
div.menubar ul.nav li>a.linebar::after{
    transform: scaleX(1);
}
div.menubar ul.sideMenu{
    position: relative;
    float: right;
    right: -40px;
    padding: 0;
    margin-top: 23px;
    list-style: none;
}
div.menubar ul.sideMenu li {
    display: inline-block;
}

div.menubar ul.sideMenu li a{
    display: block;
    font-size: 20px; /*이미지 크기 조정*/
    padding: 0px 5px;
    width: 23px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s; /*hover와 연계되어 fade-in/out연출가능*/
}
ul.sideMenu > li:nth-child(1):hover > a{ 
    background-color:#00446e;
}
ul.sideMenu > li:nth-child(2):hover > a{
    background-color: #00185B;
}
ul.sideMenu > li:nth-child(3):hover > a{
    background-color:#3F0F00;
}
.header div.menubar h1{
    float: left;
}