ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.subMenu {
    width: 100%;
    min-width: 800px;
    height: 170px;
    background: rgb(44, 39, 36); 
    opacity: 0.97; 
    clear: both;
    margin:0 auto;
    padding: 0;
    text-align: center;
    display: none;
    position: absolute;
    top:80px; /*메인 메뉴의 세로 길이 80px*/
    z-index: 9;
}
div.subMenu>ul{
    color: #5a5a5a;
    display: inline-block;
    width: 700px;
    height: 100%;
    padding: 0 10px;
}
div.subMenu>ul>li {
    display: inline-block;
    position: relative;
    padding: 0 70px;
    
}
div.subMenu>ul>li>ul{
    display: block;
    position: absolute;
    line-height: 33px;
    margin-top: -20px;
    text-align: left;
    /* text-align: center; */
}
div.subMenu>ul>li:nth-child(1){ /*리스트 별 위치 지정*/
    top: 0;
    left: -35px;
    /* left: -40px; */
}
div.subMenu>ul>li:nth-child(2){
    top: 0;
    left: -30px;
    /* left: -57px; */
    width: 80px;
}

div.subMenu>ul>li:nth-child(3){
    top: 0;
    left: -80px;
    /* left: -110px; */
    width: 60px;   
}
div.subMenu>ul>li:nth-child(4){
    top: -20px;
    left: 255px;
    /* left: 225px; */
    width: 70px;
}
a{
    text-decoration: inherit;
    color: white;
    font-size: 12pt;
    font-weight: bold;
}

.subMenu ul li ul li a:hover{
    color: rgb(255, 100, 100);
}
